# Making pivot table

In [1]:
import pandas as pd

In [2]:
# !pip install xlrd
# !pip install pyexcel
# !python -m pip install --upgrade xlrd

In [3]:
# Read Excel File
# from pathlib import Path
# import os
# path=os.path.join(os.getcwd(), r'supermarket_sales.xlsx')
# df = pd.read_excel(r"C:\Users\Home\Desktop")

In [4]:
df = pd.read_excel(r'supermarket_sales.xlsx')

In [5]:
df = df[['Gender', 'Product line', 'Total']] # Select columns: 'Gender', 'Product line', 'Total'

In [6]:
# Make pivot table
pivot_table=df.pivot_table(index='Gender', columns='Product line',
                          values='Total', aggfunc='sum').round(0)

In [7]:
pivot_table.to_excel('pivot_table.xlsx', 'Report', startrow=4)

In [8]:
df = pd.read_excel(r'pivot_table.xlsx')
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Gender,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
4,Female,27102,30437,33171,18561,30037,28575
5,Male,27236,23868,22974,30633,23825,26548

# Add Charts

In [9]:
#!pip install openpyxl

In [10]:
from openpyxl import load_workbook
from openpyxl.chart import BarChart, Reference

In [11]:
# Read workbook and select sheet
wb=load_workbook('pivot_table.xlsx')
sheet=wb['Report']

In [12]:
# Active rows and columns
min_column=wb.active.min_column
max_column=wb.active.max_column
min_row=wb.active.min_row
max_row=wb.active.max_row

In [13]:
# Instantiate a barchart
barchart = BarChart()

In [14]:
# Locate data and categories
data=Reference(
    sheet,
    min_col=min_column+1,
    max_col=max_column,
    min_row=min_row,
    max_row=max_row
) # including headers

categories=Reference(
    sheet,
    min_col=min_column+1,
    max_col=max_column,
    min_row=min_row,
    max_row=max_row
) # not including headers

In [15]:
# Adding data and categories
barchart.add_data(data, titles_from_data=True)
barchart.set_categories(categories)

In [16]:
# Make chart
sheet.add_chart(barchart, "B12")
barchart.title='Sales by Product line'
barchart.style=5 # choose the chart style

In [17]:
# Save workbook
wb.save('barchart.xlsx')

# Apply formulas

In [18]:
from openpyxl import load_workbook
from openpyxl.utils import get_column_letter

In [19]:
wb=load_workbook('barchart.xlsx')
sheet=wb['Report']

In [20]:
min_column = wb.active.min_column
max_column = wb.active.max_column
min_row = wb.active.min_row
max_row = wb.active.max_row

In [21]:
# Write an Excel formula with Python
# sheet['B8'] = '=SUM(B6:B7)'
# sheet['B8'].style = 'Currency'

In [22]:
# Write multiple formulas with a for loop
for i in range(min_column+1, max_column+1): # (B, G+1)
    letter=get_column_letter(i)
    sheet[f'{letter}{max_row + 1}'] = f'=SUM({letter}{min_row + 1}:{letter}{max_row})'
    sheet[f'{letter}{max_row + 1}'].style = 'Currency'

In [23]:
wb.save('report.xlsx')

# Format cells

In [24]:
from openpyxl import load_workbook
from openpyxl.styles import Font

In [27]:
wb = load_workbook('report.xlsx')
sheet = wb['Report']

In [28]:
# Add format
month='January'
sheet['A1']='Sales Report'
sheet['A2']=month
sheet['A1'].font=Font('Arial', bold=True, size=20)
sheet['A2'].font=Font('Arial', bold=True, size=10)

In [29]:
wb.save('report_january.xlsx')